

.displayCards img, .dealerCards img {
  float: left;
  height: 200px;
}

.fireworks {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.well {
  height: 250px;
}

.bg-info {
  height: 100px;
}
